﻿@{
    ViewBag.Title = "Опрос";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h3>Заполните, пожалуйста, анкету</h3></div>
    <div class="panel-body text-center">
        @using (Html.BeginForm("FormHandler", "Survey", FormMethod.Post, new { id = "main" })) {
            <div>
                <span class="text-success h4">Укажите Ваш пол:</span>
                <br />
                <div id="sexError" class="text-danger" style="display: none">Не выбран пол!</div>
                <br />
                <div class="form-group">
                    @Html.RadioButton("sex", true, new { id = "male" })
                    @Html.Label("male", "Мужской")
                </div>
                <div class="form-group">
                    @Html.RadioButton("sex", false, new { id = "female" })
                    @Html.Label("female", "Женский")
                </div>
            </div>
            <div>
                <span class="text-success h4">Что из перечисленного у вас есть дома?</span>
                <br />
                <div id="thingsError" class="text-danger" style="display: none">Не выбраны имеющиеся дома предметы!</div>
                <br />
                <div class="form-group">
                    @Html.CheckBox("hasFridge")
                    @Html.Label("hasFridge", "Холодильник")
                </div>
                <div class="form-group">
                    @Html.CheckBox("hasTV")
                    @Html.Label("hasTV", "Телевизор")
                </div>
                <div class="form-group">
                    @Html.CheckBox("hasPC")
                    @Html.Label("hasPC", "Компьютер")
                </div>
            </div>
            <div class="text-center">
                <input id="okButton" class="btn btn-success btn-lg" type="button" value="Ответить">
            </div>
            <br />
            <div class="btn btn-info btn-xs text-center">
                @Html.ActionLink("Просмотр статистики", "Statistics")
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#okButton").click(function () {
            $.ajax({
                url: "/Survey/FormHandler",
                cache: false,
                type: "POST",
                dataType: "json",
                data: $("#main").serialize(),
                success: function (data) {
                    if (data.success) {
                        alert("Спасибо за участие в опросе!");
                        $('#main')[0].reset();
                        $('#sexError').hide();
                        $('#thingsError').hide();
                    } else {
                        if (data.sexError) {
                            $('#sexError').show();
                        }
                        if (data.thingsError) {
                            $('#thingsError').show();
                        }
                    }
                },
                error: function (data) {
                    alert("Не удалось сохранить данные!");
                }
            });
        });
    });
</script>