﻿@{
    ViewBag.Title = "Статистика";
}

<div class="panel panel-success">
    <div class="panel-heading text-center"><h3>Статистика ответов на вопросы анкеты</h3></div>
    <div class="panel-body text-center">
        <div>
            <span class="text-success h3">Пол:</span>
            <br />
            <br />
            <span class="text-primary h4">Мужской: @ViewBag.MalePercentage %</span>
            <br />
            <span class="text-primary h4">Женский: @ViewBag.FemalePercentage %</span>
        </div>
        <br />
        <div>
            <span class="text-success h3">Наличие техники:</span>
            <br />
            <br />
            <span class="text-primary h4">Холодильник: @ViewBag.HasFridgePercentage %</span>
            <br />
            <span class="text-primary h4">Телевизор: @ViewBag.HasTVPercentage %</span>
            <br />
            <span class="text-primary h4">Компьютер: @ViewBag.HasPCPercentage %</span>
        </div>
        <br />
        <div class="btn btn-info btn-xs">
            @Html.ActionLink("Вернуться к анкетированию", "Index")
        </div>
    </div>
</div>